# Ignore SQLite DB file (if using SQLite locally)
*.db

# Ignore any local configuration files
alembic.ini

# Ignore database dump files or any local data files
*.bak
*.sql
*.dump

# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# CSV loaded data file
data